@import './Font/font.css';

body {
  background-color: #0f205f;
  font-family: 'Canaro', sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
